
body {

    background-image: url(images/background-photo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;

    font-family: 'Anek Tamil', sans-serif;
    font-weight: 300;

}




h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

@media only screen and (max-width: 767px) {
    body {
      background-image: url(images/background-photo-mobile-devices.png);
    }
      }